POSTGRES_DB=personal_finance_lab1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DB_ADMIN=postgresql+psycopg://postgres:postgres@localhost:5432/personal_finance_lab1
JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
