POSTGRES_DB=personal_finance_lab3
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5434
DB_ADMIN=postgresql+psycopg://postgres:postgres@localhost:5434/personal_finance_lab3
JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
PARSER_SERVICE_URL=http://localhost:8001
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
